*{
	padding: 0px;
	margin: 0px;
	box-sizing:border-box;
	word-break: break-all;
}
pre{ 
	white-space:pre-wrap; 
	white-space:-moz-pre-wrap; 
	white-space:-pre-wrap; 
	white-space:-o-pre-wrap; 
	word-wrap:break-word; 
} 
/*自定义样式*/
.text-ellipsis{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.el-dialog__header{
  padding: 0;
  padding-left: 15px;
  display: flex;
  align-items: center;
  height: 50px;
}
.el-dialog__body{
  border-top: 1px solid #eee;
  padding: 20px;
}
.el-dialog__headerbtn{
  width: 52px;
  height: 50px;
  top: 0;right: 0;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.el-dialog__headerbtn:hover{
  background: #f1f1f1;
}

.scroll-bar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.scroll-bar::-webkit-scrollbar-track-piece {
  background-color: transparent; 
  -webkit-border-radius: 5px;
}
.scroll-bar::-webkit-scrollbar-thumb:vertical {
  height: 12px;
  background-color: #BDBDBD;
  -webkit-border-radius: 5px;
}
.scroll-bar::-webkit-scrollbar-thumb:horizontal {
  width: 12px;
  background-color: #BDBDBD;
  -webkit-border-radius: 5px;
}
.scroll-bar::-webkit-scrollbar-thumb:vertical:hover,::-webkit-scrollbar-thumb:horizontal:hover
{
  background-color: #808080;
}