@charset "utf-8";
html,body,div,span,applet,object,iframe,p,blockquote,pre,a,
abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,
dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,textarea,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    vertical-align: baseline;
}
html{
  /* font-size: calc(100vw / 1920 * 100); */
  font-size: 14px;
}
body{
  font-size: 14px;
}
body,html{
    background: #F6F7F8;
}
body *{box-sizing: border-box;}
a {
    text-decoration: none;
    color: #409eff;
}
[v-cloak] {
    display: none;
}